body {
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
}

a:hover {
    color: whitesmoke;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: #0CB03B;
    border-radius: 8px;
}

.listing {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    max-width: 400px;
    margin: 10px;
}

.listing:hover {
    background-color: #FC4445;;
    text-decoration: none;
    box-shadow: 0px 0px 10px lightslategray;
    color: whitesmoke;
}
.container {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    margin-left: 0;
}

.img-container{
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.category {
    margin: 10px 10px;
    padding: 10px 40px;
    color: black;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
}

.category:hover {
    background-color: #FC4445;
    text-decoration: none;
    box-shadow: 0px 0px 10px lightslategray;
    color: whitesmoke;
}

div > img {
    align-self: center;
    width: 300px;
    margin-right: 40px;
}

.newListing {
    display: grid;
    max-width: 600px;
}

input, select{
    border-radius: 8px;
    border: 1px solid lightblue;
}