body {
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.listing {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    border: 1px solid darkslategrey;
    border-radius: 4px;
}

.listing:hover {
    background-color: lightskyblue;
    text-decoration: none;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
}
.category {
    margin: 10px 10px;
    padding: 5px 5px;
    color: black;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    white-space: nowrap;
}

td > img {
    align-self: center;
    width: 300px;
    margin-right: 40px;
}

