{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if listing.highest_bidder == request.user and not listing.is_active %}
        <p class="text-success">Congrats! You are the winner for this listing!</p>
    {% elif not listing.is_active %}
        <p class="text-danger">This listing is closed</p>
    {% endif %}
    <div>
        <!-- Add or Remove from WatchList -->
        {% if request.user.is_authenticated %}
            <form action="{% url 'watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                {% if watch %}
                    <button type="submit">Remove from Watchlist</button>
                {% else %}
                    <button type="submit">Add to Watchlist</button>
                {% endif %}
            </form>    
        {% else %}
        {% endif %}
        <!-- Close  the listing-->
        {% if request.user.id == listing.user.id %}
            <form action="{% url 'closeListing' listing.id %}" method="POST">
                {% csrf_token %}
                {% if listing.is_active %}
                    <button type="submit">Close Listing</button>
                {% else %}
                    <button type="submit" disabled>Close Listing</button>
                {% endif %}
            </form>    
        {% endif %}
    </div>

    <img src="{{ listing.image_url }}" alt="{{ listing.title }}"/>
    <p>Description: {{ listing.description }}</p>
    <h6>Current Price: ${{ listing.current_price }}</h6><span class="text-warning">{{ message }}</span>
    {% if user.is_authenticated and listing.is_active%}
        <form action="{% url 'bid' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="bid" placeholder="Bid">
            <input type="submit" value="Place Bid">
        </form>
    {% endif %}
    <!-- Comments -->
    <hr>
    <h4>Comments</h4>
    {% for comment in comments %}
        <p class="font-weight-bold bg-dark text-white">{{ comment.user }}</p>
        <p>{{ comment.content }}</p>
    {% empty %}
        {% if user.is_authenticated %}    
            <p>Be the first to add a comment</p>
        {% else %}
            <p>Login to add a comment</p>    
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'comments' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}